{% extends 't_b_app/base.html' %}
{% block 'body' %}

    <main class="py-5 text-center container">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {% load static %}
        <img src="{% static 'binance.png' %}" height="50" ></img>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2"">
              <form action="{% url 'execute_new_req' %}" method="get" id="id_for_test" class="btn btn-sm btn-outline-secondary">
                {% csrf_token %}
                {{ binance_app_form_choice }}
                <input name="submit" type="submit" value="request to Binance API"/>
              </form>
          </div>
        </div>
      </div>
        <h2>Binance API '/api/v3/avgPrice' current average trading price values</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Trading pair symbol</th>
                <th scope="col">Average price</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Data Hash</th>
              </tr>
            </thead>
            <tbody>
              {% for trading_pair in trading_pairs %}
              <tr>
                <td>{{ trading_pair.trading_pair_symbol }} </td>
                <td>{{ trading_pair.symbol_avg_price }} </td>
                <td>{{ trading_pair.api_dt }} </td>
                <td>{{ trading_pair.tradingpairhash }} </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </main>

{% endblock %}